@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-worksans: "WorkSans", sans-serif;
  --color-jcm-blue-dark: #080c2d;
  --color-jcm-mediumdark: #1d274c;
  --color-jcm-blue-medium: rgb(20, 86, 255);
  --color-jcm-blue-light: rgb(0, 105, 255);
  --shadow-input: 0 5px 1px 0 rgb(0, 0, 0, 0.1);
  --shadow-input-focus: 0 2px 1px 0 rgb(0, 0, 0, 0.1);
  }

@layer utilities {
  .opacity-0 { opacity: 0; }
  .opacity-100 { opacity: 1; }
  .translate-y-6 { transform: translateY(24px); }
  .translate-y-0 { transform: translateY(0); }
  .transition-base { transition: all 0.7s ease; }
}

@layer utilities {
  /* Sombra luz neón azul */
  .neon-blue {
    text-shadow: 0 0 6px #5bbcff, 0 0 12px #5bbcff, 0 0 24px #2f7aff;
  }

  /* Sombra luz neón violeta */
  .neon-purple {
    text-shadow: 0 0 6px #d28bff, 0 0 12px #c45dff, 0 0 24px #8b2dff;
  }

  /* Bordes brillantes */
  .border-neon-blue {
    box-shadow: 0 0 12px #4da3ff, 0 0 24px #1e78ff inset;
  }

  .border-neon-purple {
    box-shadow: 0 0 12px #c45dff, 0 0 24px #8b2dff inset;
  }

  /* Glow suave para tarjetas */
  .glow {
    box-shadow: 0 0 20px rgba(0, 140, 255, 0.25);
  }

  /* Glow intenso al pasar el mouse */
  .glow-hover:hover {
    box-shadow: 0 0 25px rgba(0, 140, 255, 0.6), 0 0 50px rgba(0, 140, 255, 0.4);
    transform: translateY(-4px);
  }
}

